DATABASE_URI=
JWT_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SERVICE=
APP_BASE_URL=

PORT=
JWT_EXPIRES_IN=

# Airwallex
AIRWALLEX_CLIENT_ID=
AIRWALLEX_API_KEY=
AIRWALLEX_BASE_URL=
AIRWALLEX_ENV=
AIRWALLEX_DESCRIPTOR_PREFIX=
AIRWALLEX_WEBHOOK_SECRET=
