DATABASE_URI=
JWT_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SERVICE=
APP_BASE_URL=

PORT=
JWT_EXPIRES_IN=

# Airwallex
AIRWALLEX_CLIENT_ID=
AIRWALLEX_API_KEY=
AIRWALLEX_BASE_URL=
AIRWALLEX_ENV=
AIRWALLEX_DESCRIPTOR_PREFIX=
AIRWALLEX_WEBHOOK_SECRET=

CARD_ENCRYPTION_KEY=

AIRWALLEX_MODE=sandbox
AIRWALLEX_SANDBOX_BASE_URL=https://api.sandbox.airwallex.com
AIRWALLEX_SANDBOX_CLIENT_ID=
AIRWALLEX_SANDBOX_API_KEY=
AIRWALLEX_LIVE_BASE_URL=https://api.airwallex.com
AIRWALLEX_LIVE_CLIENT_ID=
AIRWALLEX_LIVE_API_KEY=
